<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Web Page</title>
  </head>
  <body>
    <h1>Welcome to My first Webpage!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
      repudiandae sequi exercitationem unde amet, adipisci magnam necessitatibus
      excepturi dolor aut tempora. Nobis numquam minus vitae, architecto in odit
      quibusdam voluptas?
    </p>
    <img src="a.png" alt="pic" width="100%" />

    <blockquote>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi officia
      sunt, est dolorum at cupiditate eos numquam itaque soluta ipsum sequi ea?
      Dolores est recusandae autem tenetur consequuntur tempora suscipit.
    </blockquote>
  </body>
</html>
