<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .container {
        background-color: bisque;
        width: 800px;
        margin: 15px auto;
        padding: 20px;
      }
      img {
        width: 300px;
        float: left;
        margin-right: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="bird.PNG" alt="bird" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quasi
        vitae numquam pariatur in libero reprehenderit dolorem aut dolor harum
        aliquam, temporibus ducimus sint nobis asperiores repellendus totam
        facere blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Itaque perspiciatis repellendus ipsum magni ducimus rerum. Autem
        quas, quia repellat, tempora magnam iste dolorem, aliquam facilis
        inventore provident dolore ut dignissimos?
      </p>
    </div>
  </body>
</html>
